<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <div class="container">
        <br>
        <h3>Lista de Categorías</h3>
        <% if (success){ %>
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>¡Éxito!</strong> Categoría <%=success%> correctamente
            </div>
            <%}%>

        <% if (error){ %>
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>¡Error!</strong> No se puede eliminar la Categoría
            </div>
            <%}%>
        <form action="/categoria/list" method="get">
            <div class="form-row">
                <div class="col-md-12">
                    <label class="control-label">Buscar por Nombre</label>                        
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <input class="form-control" type="text" name="filter" value="<%= filter%>"/>

                </div>
                <div class="col-md-2">
                    <input type="submit" name="accion" value="Buscar" class="btn btn-danger" />
                </div>
                <div class="text-right col-md-4">
                    <a href="/categoria/add" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Crear Nuevo</a>
                </div>
            </div>
        </form>
        <br>
        <div>
            <table class="table">
                <thead>
                    <th>Nombre categoría</th>
                    <th></th>
                </thead>
                <tbody>
                    <% data.forEach(item =>{ %>
                    <tr>
                        <td><%= item.nombre %></td>
                        <td class="text-right">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Opciones
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/categoria/edit?id=<%= item.id %>">Editar</a>
                                    <a class="dropdown-item" href="/categoria/delete?id=<%= item.id %>">Eliminar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('../includes/footer.ejs') %>

    
</body>
</html>