<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <div class="container">
        <br>
        <h3>Editar Cuenta</h3>
        <% if (error){ %>
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>¡Error!</strong> <%=error%>
            </div>
        <%}%>
        <form action="/cuenta/update" method="post">
            <div class="form-group">
                <div class="col-md-6">
                    <input class="form-control" type="text" name="id" id="id" value="<%= item.id%>" hidden>
                </div>                
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label for="nombre">Número de cuenta</label>
                    <input class="form-control" type="text" name="numero_cuenta" id="numero_cuenta" value="<%= item.numero_cuenta%>" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label for="nombre">Nombre completo del titular</label>
                    <input class="form-control" type="text" name="nombre_titular" id="nombre_titular" value="<%= item.nombre_titular%>" required>
                </div>
            </div>
            <div class="col-md-12">
                <input class="btn btn-primary" type="submit" value="Actualizar">
                <a href="/cuenta/list" class="btn btn-danger"> Cancelar</a>
            </div>
        </form>
    </div>
    <%- include('../includes/footer.ejs') %>
</body>
</html>