<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <div class="container">
        <br>
        <h3>Crear Producto</h3>
        <% if (error){ %>
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>¡Error!</strong>
                <%=error%>
            </div>
        <%}%>
        <form action="/producto/save" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-md-6">
                    <input class="form-control" type="text" name="id" id="id" hidden>
                </div>                
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label for="nombre">Nombre</label>
                    <input class="form-control" type="text" name="nombre" id="nombre" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label for="nombre">Descripción</label>
                    <input class="form-control" type="text" name="descripcion" id="descripcion">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label for="nombre">Precio</label>
                    <input class="form-control" type="number" step="0.01" min="0" name="precio" id="precio" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label for="nombre">Stock</label>
                    <input class="form-control" type="number" name="stock" min="0" id="stock" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label for="nombre">Género</label>
                    <select class="form-control" name="genero" id="genero">
                        <option value="">Seleccionar...</option>
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label for="nombres">Categoría</label>
                    <select class="form-control" name="categoria_id" id="categoria_id" required>
                        <option value="">Seleccionar categoría</option>
                        <% categorias.forEach(item =>{ %>
                            <option value="<%= item.id%>"><%= item.nombre %></option>
                        <%})%>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label for="nombre">Archivo</label>
                    <input class="form-control" type="file" name="imgproducto" id="imgproducto" required>
                </div>
            </div>
            <div class="col-md-12">
                <input class="btn btn-primary" type="submit" value="Guardar">
                <a href="/producto/list" class="btn btn-danger"> Cancelar</a>
            </div>
        </form>
    </div>
    <%- include('../includes/footer.ejs') %>
</body>
</html>