<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <%- include('../includes/header-cliente.ejs') %>
    <div class="container" style="margin-bottom: 130px;">
        <br>
        <h3>Información de compra</h3>
        <br>
        <div class="form-row">
            <div class="col-md-2">
                <label><b>Código</b></label>
            </div>
            <%= item.codigo%>
        </div>
        <div class="form-row">
            <div class="col-md-2">
                <label><b>Fecha</b></label>
            </div>
            <%= item.fecha%>
        </div>
        <div class="form-row">
            <div class="col-md-2">
                <label><b>Estado</b></label>
            </div>
            <%= item.estado%>
        </div>
        <div class="form-row">
            <div class="col-md-2">
                <label><b>Dirección de envío</b></label>
            </div>
            <%= item.direccion_postal%>, <%= item.ciudad%>, <%= item.provincia%>, <%= item.codigo_postal%>
        </div>
        
        <div class="form-row">
            <a href="/mis-compras" class="btn btn-primary" > Volver</a> 
        </div>        
        <br>
        <h3>Detalle de compra</h3>
        <br>
        <div>
            <table class="table">
                <thead>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Imagen</th>                    
                    <th></th>
                </thead>
                <tbody>
                    <% let total = 0; %>
                    <% detalle.forEach(element =>{ %>
                        <% total += element.precio * element.cantidad; %>
                    <tr>
                        <td><%= element.nombre %></td>
                        <td>$<%= element.precio %></td>
                        <td><%= element.cantidad %></td>
                        <td><img src="<%= element.url %>" alt="" width="100"></td>
                    </tr>
                    <% }) %>
                    <tr>
                        <td><b>Total</b></td>
                        <td><b>$<%= total %></b></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <h3>Comprobantes de pago</h3>
        <br>
        <div>
            <% comprobantes.forEach(element =>{ %>
            <div>
                <img src="<%= element.url %>" alt="" width="200">
            </div>
            <% }) %>
            
        </div>
    </div>
    <%- include('../includes/footer-cliente.ejs') %>

</body>

</html>