<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <%- include('../includes/header-cliente.ejs') %>
        <div class="container" style="margin-bottom: 130px;">
            <br>
            <h3>Mis Compras</h3>
            <% if (message){ %>
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>¡Éxito!</strong> Se envió el comprobante correctamente
                </div>
            <%}%>
            <br>
            <div>
                <table class="table">
                    <thead>
                        <th>Codigo</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <% data.forEach(item=>{ %>
                            <tr>
                                <td><%= item.codigo %></td>
                                <td><%= item.fecha %></td>
                                <td><%= item.total %></td>
                                <td><%= item.estado %></td>
                                <td class="text-right">
                                <% if(item.estado == "Espera"){ %>
                                    <a href="/pago?id=<%= item.id %>" class="btn btn-primary">Enviar pago</a>
                                <%}%>
                                    <a href="/detalle-compra?id=<%= item.id %>" class="btn btn-success">Ver</a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <%- include('../includes/footer-cliente.ejs') %>

</body>

</html>