<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../includes/header-cliente.ejs') %>
        <div class="container" style="margin-bottom: 130px;">
            <br>

            <div class="form-row">
                <div class="col-md-2">
                    <label><b>Nombres</b></label>
                </div>
                <%= item.nombres%>
            </div>
            <div class="form-row">
                <div class="col-md-2">
                    <label><b>Apellidos</b></label>
                </div>
                <%= item.apellidos%>
            </div>
            <div class="form-row">
                <div class="col-md-2">
                    <label><b>Email</b></label>
                </div>
                <%= item.email%>
            </div>
            <div class="form-row">
                <div class="col-md-2">
                    <label><b>Direccion</b></label>
                </div>
                <%= item.direccion%>
            </div>
            <div class="form-row">
                <div class="col-md-2">
                    <label><b>Teléfono</b></label>
                </div>
                <%= item.telefono%>
            </div>
            
            <div class="form-group">
                <a href="/direccion-list" class="btn btn-success" > Mis Direcciones</a>    
                <a href="/mis-compras" class="btn btn-primary" > Mis Compras</a>                                          
            </div>
        </div>
        <%- include('../includes/footer-cliente.ejs') %>
</body>

</html>